$sidenav-bg: $primary !default;
$sidenav-color: color-yiq($sidenav-bg) !default;
$sidenav-width: 250px !default;

$sidenav-header-bg: $sidenav-bg !default;
$sidenav-header-color: color-yiq($sidenav-header-bg) !default;
$sidenav-header-bottom-border: solid $border-width tint($primary, 20%);

$sidenav-shadow: -5px 0 15px 0 rgba(0, 0, 0, 0.2) !default;

@import "scss/c-side-nav-toggler";

.c-side-nav {
  // To hide sidenav during initiation. Before script sets correct inline styling
  position: fixed;
  width: 0;
  right: -2222px;
  //

  background: $sidenav-bg;
  height: 100vh !important;
  overflow: hidden;

  &[data-simplersidebar="opened"] {
    box-shadow: $sidenav-shadow;
  }

  &__header {
    display: flex;
    width: 100%;
    color: $sidenav-header-color;
    background: $sidenav-header-bg;
    border-bottom: $sidenav-header-bottom-border;
    padding: $grid-gutter-width/2;
  }
  
  .close-sidenav {
    @include button-variant($sidenav-bg, $sidenav-bg, shade($sidenav-bg, 15%), shade($sidenav-bg, 15%));
    margin-left: auto;
  }

  &__scroll {
    position: absolute;
    left: 0;
    right: 0;
    top: 68px;
    bottom: 0;
    height: calc(100vh-68px) !important;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding-bottom: 70px;
  }
}

html.sidenav-open {
  body {
    height: 100vh;
    overflow-y: hidden;
  }
}
