<nav class="c-vertical-nav">
    <ul class="c-vertical-nav__list">
        {{#each navigation.sidenavigation as |value key|}}
        {{#ifCond (jsonLength value.subMenu) "!=" "0"}}
        <li class="c-vertical-nav__item has-children">
            <div>
                <a href="{{url}}" class="c-vertical-nav__link">{{key}}</a>
                <button type="button" class="c-vertical-nav__toggle-button" data-toggle="collapse"
                    data-target="#sub-nav-{{@index}}" aria-expanded="false">
                    <span class="sr-only">+/-</span>
                </button>
            </div>

            <ul class="c-vertical-nav__list collapse" id="sub-nav-{{@index}}">
                {{#each value.subMenu as |childValue childKey|}}
                {{#ifCond (jsonLength childValue.subMenu) "!=" "0"}}
                <li class="c-vertical-nav__item has-children">
                    <div>
                        <a href="{{url}}" class="c-vertical-nav__link">{{childKey}}</a>
                        <button type="button" class="c-vertical-nav__toggle-button" data-toggle="collapse"
                            data-target="#sub-nav-{{@../index}}-{{@index}}" aria-expanded="false">
                            <span class="sr-only">+/-</span>
                        </button>
                    </div>

                    <ul class="c-vertical-nav__list collapse" id="sub-nav-{{@../index}}-{{@index}}">
                        {{#each childValue.subMenu as |childValue2 childKey2|}}
                        {{#ifCond (jsonLength childValue2.subMenu) "!=" "0"}}
                        <li>
                            <div>
                                <a href="{{url}}" class="c-vertical-nav__link">{{childKey2}}</a>
                                <button type="button" class="c-vertical-nav__toggle-button" data-toggle="collapse"
                                    data-target="#sub-nav-{{@../../index}}-{{@../index}}-{{@index}}"
                                    aria-expanded="false">
                                    <span class="sr-only">+/-</span>
                                </button>
                            </div>

                            <ul class="c-vertical-nav__list collapse" id="sub-nav-{{@../../index}}-{{@../index}}-{{@index}}"
                                aria-expanded="false">
                                {{#each childValue2 as | childValue3 childKey3|}}
                                {{#ifCond (jsonLength childValue3.subMenu) "!=" "0"}}
                                <li class="c-vertical-nav__item has-children">
                                    <div>
                                        <a href="{{url}}" class="c-vertical-nav__link">{{childKey3}}</a>
                                        <button type="button" class="c-vertical-nav__toggle-button"
                                            data-toggle="collapse"
                                            data-target="#sub-nav-{{@../../index}}-{{@../index}}-{{@index}}"
                                            aria-expanded="false">
                                            <span class="sr-only">+/-</span>
                                        </button>
                                    </div>

                                    <ul class="c-vertical-nav__list ">
                                        <li class="c-vertical-nav__item has-children">
                                            ...
                                        </li>
                                    </ul>

                                </li>
                                {{else}}
                                <li class="c-vertical-nav__item">
                                    <div>
                                        <a href="{{url}}" class="c-vertical-nav__link">{{childKey3}}</a>
                                    </div>
                                </li>
                                {{/ifCond}}
                                {{/each}}
                            </ul>
                        </li>
                        {{else}}
                        <li class="c-vertical-nav__item">
                            <div>
                                <a href="{{url}}" class="c-vertical-nav__link">{{childKey2}}</a>
                            </div>
                        </li>
                        {{/ifCond}}
                        {{/each}}
                    </ul>
                </li>
                {{else}}
                <li class="c-vertical-nav__item">
                    <div>
                        <a href="{{url}}" class="c-vertical-nav__link">{{childKey}}</a>
                    </div>
                </li>
                {{/ifCond}}
                {{/each}}
            </ul>
        </li>
        {{else}}
        <li class="c-vertical-nav__item">
            <div>
                <a href="{{url}}" class="c-vertical-nav__link">{{key}}</a>
            </div>
        </li>
        {{/ifCond}}
        {{/each}}

    </ul>
</nav>