$main-nav-bg: transparent !default;
$main-nav-color: $header-color !default;
$main-nav-hover-color: $main-nav-color;
$main-nav-underline-bg: $main-nav-hover-color !default;

.c-main-nav {
  $base: &;

  align-self: center;
  flex-grow: 1;

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    padding: 0 $spacer;
  }

  &__item--active {
    #{$base}__link {
      &::before {
        position: absolute;
        content: "";
        height: 4px;
        background: $black;
        bottom: -6px;
        opacity: 1;
      }

      &:hover {
        &::before {
          background: red;
        }
      }
    }
  }

  &__link {
    position: relative;
    color: $main-nav-color;
    padding: $spacer*.5 0;

    &::before {
      position: absolute;
      content: "";
      height: 0;
      bottom: -12px;
      opacity: 0;
      left: 0;
      right: 0;
      background: $main-nav-hover-color;
      transition: all ease 0.25s;
    }

    &:hover {
      text-decoration: none;
      color: $main-nav-hover-color;

      &::before {
        height: 4px;
        bottom: -6px;
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}
