<nav class="c-shortcuts-nav" id="shortcutsNav">
    <ul class="c-shortcuts-nav__list">
        <li class="c-shortcuts-nav__item"><a href="#" class="c-shortcuts-nav__link">Translate</a></li>
        <li class="c-shortcuts-nav__item"><a href="#" class="c-shortcuts-nav__link">Listen</a></li>
        <li class="c-shortcuts-nav__item"><a href="#" class="c-shortcuts-nav__link">Sign language</a></li>
        <li class="c-shortcuts-nav__item">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SV
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Lang 1</a>
                    <a class="dropdown-item" href="#">Lang 2</a>
                </div>
            </div>
        </li>
    </ul>
</nav>