$header: ".c-header";
$header-z-index: 500 !default;

$header-top-bg: shade($primary, 20%) !default;
$header-top-color: color-yiq($header-top-bg) !default;

$header-bg: $primary !default;
$header-color: color-yiq($header-bg) !default;

@import 
  "scss/c-header__brand",
  "scss/c-header__top";

.c-header {
  background: $header-bg;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: $header-z-index;
  }

  &__main {
    @include media-breakpoint-down(md) {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: stretch;
    }
  }

  &__main-container {
    @include media-breakpoint-down(md) {
      max-width: none;
      display: flex;
      align-items: center;
    }
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: stretch;
    }
  }
}

.c-header__mobile-nav-area {
  flex: 0 0 auto;
  width: auto !important;
  max-width: 100%;
  position: relative !important;
  left: auto !important;
  right: auto !important;
  top: 0 !important;
  bottom: auto !important;
  background-color: yellow;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  button {
    font-size: 24px;
    color: red;
    position: relative;
    width: 50px;

    .badge {
      position: absolute;
      background: $black;
      color: $white;
      top: 2px;
      right: 0px;
      font-size: 11px;
      border-radius: 4px;
    }

    &:hover,
    &:focus {
      color: red;
    }
  }

  &::before {
    opacity: 0;
    content: " ";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    width: 100%;
    z-index: 0;
    background: yellow;
    background: linear-gradient(180deg, rgba(yellow, 1) 0%, rgba(yellow, 0.75) 50%, rgba(yellow, 0) 100%);
    transition: ease-in-out 0.2s opacity;
  }

  &.is_stuck + div:empty {
    display: none !important;
  }

  .mobile-nav-active &.is_stuck {
    position: fixed !important;
    width: 100%;
    right: 0 !important;

    &::before {
      display: block;
    }
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .btn--toggle-mobile-nav {
    position: relative;
    z-index: 1;

    &::before {
      @extend .fa;
      content: fa-content($fa-var-bars);
    }

    &[aria-pressed="true"]::before {
      content: fa-content($fa-var-times);
    }
  }
}

body.mobile-nav-active {
  @include media-breakpoint-down(md) {
    background: yellow;

    .c-header {
      background: rgba(yellow, 1);

      ~ * {
        display: none !important;
      }
    }
  }
}
